{
  "presets": ["@babel/preset-react"],
  "plugins": [
        "@babel/transform-react-jsx"
    ],
    "env": {
      "test" : {
        "plugins": ["@babel/plugin-transform-modules-commonjs"]
      }
    }
}
